In [ ]:
# Make a class called Employee. The __init__() method for Employee should store its different attributes: name, number, address, salary, post,
# year of joining, education, and his year of experience

In [4]:
class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, year_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.year_of_experience = year_of_experience

In [ ]:
# Make a method called describe_employee() that prints the detail Information about employee, a method update_ year_of_experience(),
# and a method called increase_salary() that do increamnet in it's salary.

In [6]:
class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, year_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.year_of_experience = year_of_experience

    def describe_employee(self):
        print("Employee Information:")
        print("Name:", self.name)
        print("Number:", self.number)
        print("Address:", self.address)
        print("Salary:", self.salary)
        print("Post:", self.post)
        print("Year of Joining:", self.year_of_joining)
        print("Education:", self.education)
        print("Year of Experience:", self.year_of_experience)

    def update_year_of_experience(self, new_year_of_experience):
        self.year_of_experience = new_year_of_experience

    def increase_salary(self, percentage):
        self.salary += self.salary * percentage / 100

In [ ]:
# Make an instance called employee101 from your class. Print the four attri-
# butes individually, and then call all it's methods for describing employee, ssalary increamnet and increase year of experience.

NameError: name 'employees' is not defined

In [8]:
employee101 = Employee("John Doe", "101", "123 Main Street", 50000, "Software Engineer", 2020, "Bachelor's Degree", 3)

print("Name:", employee101.name)
print("Salary:", employee101.salary)
print("Year of Joining:", employee101.year_of_joining)
print("Year of Experience:", employee101.year_of_experience)

employee101.describe_employee()
employee101.increase_salary(10)
print("Updated Salary:", employee101.salary)
employee101.update_year_of_experience(4)
print("Updated Year of Experience:", employee101.year_of_experience)

Name: John Doe
Salary: 50000
Year of Joining: 2020
Year of Experience: 3
Employee Information:
Name: John Doe
Number: 101
Address: 123 Main Street
Salary: 50000
Post: Software Engineer
Year of Joining: 2020
Education: Bachelor's Degree
Year of Experience: 3
Updated Salary: 55000.0
Updated Year of Experience: 4

In [ ]:
# Create 10 different instances from the class, and call describe_employee() for each
# instance. Then do some updations with it's methods

In [18]:
employees = [
    Employee("Alice", "102", "456 Main Street", 60000, "Data Analyst", 2018, "Master's Degree", 5),
    Employee("Bob", "103", "789 Main Street", 70000, "Software Developer", 2015, "Bachelor's Degree", 8),
    Employee("Charlie", "104", "123 Main Street", 55000, "Project Manager", 2022, "MBA", 2),
    Employee("David", "105", "456 Main Street", 65000, "UI/UX Designer", 2020, "Bachelor's Degree", 3),
    Employee("Eve", "106", "789 Main Street", 80000, "Product Manager", 2017, "MBA", 6),
    Employee("Frank", "107", "123 Main Street", 50000, "QA Engineer", 2023, "Bachelor's Degree", 1),
    Employee("Grace", "108", "456 Main Street", 62000, "Business Analyst", 2019, "Master's Degree", 4),
    Employee("Henry", "109", "789 Main Street", 75000, "DevOps Engineer", 2016, "Bachelor's Degree", 7),
    Employee("Ivy", "110", "123 Main Street", 58000, "Technical Writer", 2021, "Bachelor's Degree", 2),
    Employee("Jack", "111", "456 Main Street", 68000, "System Administrator", 2018, "Associate Degree", 5)
]

for employee in employees:
    employee.describe_employee()

# Example of updating an employee's information
employees[2].increase_salary(5)
employees[2].update_year_of_experience(3)
employees[2].describe_employee()

Employee Information:
Name: Alice
Number: 102
Address: 456 Main Street
Salary: 60000
Post: Data Analyst
Year of Joining: 2018
Education: Master's Degree
Year of Experience: 5
Employee Information:
Name: Bob
Number: 103
Address: 789 Main Street
Salary: 70000
Post: Software Developer
Year of Joining: 2015
Education: Bachelor's Degree
Year of Experience: 8
Employee Information:
Name: Charlie
Number: 104
Address: 123 Main Street
Salary: 55000
Post: Project Manager
Year of Joining: 2022
Education: MBA
Year of Experience: 2
Employee Information:
Name: David
Number: 105
Address: 456 Main Street
Salary: 65000
Post: UI/UX Designer
Year of Joining: 2020
Education: Bachelor's Degree
Year of Experience: 3
Employee Information:
Name: Eve
Number: 106
Address: 789 Main Street
Salary: 80000
Post: Product Manager
Year of Joining: 2017
Education: MBA
Year of Experience: 6
Employee Information:
Name: Frank
Number: 107
Address: 123 Main Street
Salary: 50000
Post: QA Engineer
Year of Joining: 2023
Education: Bachelor's Degree
Year of Experience: 1
Employee Information:
Name: Grace
Number: 108
Address: 456 Main Street
Salary: 62000
Post: Business Analyst
Year of Joining: 2019
Education: Master's Degree
Year of Experience: 4
Employee Information:
Name: Henry
Number: 109
Address: 789 Main Street
Salary: 75000
Post: DevOps Engineer
Year of Joining: 2016
Education: Bachelor's Degree
Year of Experience: 7
Employee Information:
Name: Ivy
Number: 110
Address: 123 Main Street
Salary: 58000
Post: Technical Writer
Year of Joining: 2021
Education: Bachelor's Degree
Year of Experience: 2
Employee Information:
Name: Jack
Number: 111
Address: 456 Main Street
Salary: 68000
Post: System Administrator
Year of Joining: 2018
Education: Associate Degree
Year of Experience: 5
Employee Information:
Name: Charlie
Number: 104
Address: 123 Main Street
Salary: 57750.0
Post: Project Manager
Year of Joining: 2022
Education: MBA
Year of Experience: 3

In [ ]:
#Finally complete the same task without using the Classes or OOP.

In [24]:
employees = [
    {"name": "Alice", "number": "102", "address": "456 Main Street", "salary": 60000, "post": "Data Analyst", "year_of_joining": 2018, "education": "Master's Degree", "year_of_experience": 5},
    # ... other employees ...
]

def describe_employee(employee):
    print("Employee Information:")
    print("Name:", employee["name"])
    print("Number:", employee["number"])
    print("Address:", employee["address"])
    print("Salary:", employee["salary"])
    print("Post:", employee["post"])
    print("Year of Joining:", employee["year_of_joining"])
    print("Education:", employee["education"])
    print("Year of Experience:", employee["year_of_experience"])

def update_year_of_experience(employee, new_year_of_experience):
    employee["year_of_experience"] = new_year_of_experience

def increase_salary(employee, percentage):
    employee["salary"] += employee["salary"] * percentage / 100

# Print employee details
for employee in employees:
    describe_employee(employee)

# Example of updating an employee's information
employees[2]["salary"] += employees[1]["salary"] * 5 / 100
employees[2]["year_of_experience"] = 3
describe_employee(employees[2])

Employee Information:
Name: Alice
Number: 102
Address: 456 Main Street
Salary: 60000
Post: Data Analyst
Year of Joining: 2018
Education: Master's Degree
Year of Experience: 5

IndexError: list index out of range